@font-face {
    font-family: 'Yoon Gothic';
    src: url('/fonts/YoonGothicPro740.eot');
    src: url('/fonts/YoonGothicPro740.eot?#iefix') format('embedded-opentype'),
         url('/fonts/YoonGothicPro740.woff') format('woff'),
         url('/fonts/YoonGothicPro740.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Yoon Gothic';
    src: url('/fonts/YoonGothicPro760.eot');
    src: url('/fonts/YoonGothicPro760.eot?#iefix') format('embedded-opentype'),
         url('/fonts/YoonGothicPro760.woff') format('woff'),
         url('/fonts/YoonGothicPro760.ttf') format('truetype');
    font-weight: 600;
}

html {
  text-align: center;
}

body {
  font-family: 'Yoon Gothic', sans-serif;
  font-weight: 400;
  background-color: #1b1b1b;
  color: #fff;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 80rem;
}

.head-logo {
  height: 100px;
  opacity: .85;
  margin: 0 auto;
  display: block;
}

.head-title {
  letter-spacing: .08rem;
  font-weight: 400;
  opacity: .6;
  -ms-filter: "alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.date {
  font-size: 5rem;
}

.form-desc {
  color: #d1d1d1;
}

.help {
  margin-top: -15px;
  margin-bottom: 15px;
  text-align: left;
  color: #faa;
  display: none;
}

#feedback {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  display: none;
}
