@font-face {
    font-family: 'Yoon Gothic';
    src: url('/fonts/YoonGothicPro740.eot');
    src: url('/fonts/YoonGothicPro740.eot?#iefix') format('embedded-opentype'),
         url('/fonts/YoonGothicPro740.woff') format('woff'),
         url('/fonts/YoonGothicPro740.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Yoon Gothic';
    src: url('/fonts/YoonGothicPro760.eot');
    src: url('/fonts/YoonGothicPro760.eot?#iefix') format('embedded-opentype'),
         url('/fonts/YoonGothicPro760.woff') format('woff'),
         url('/fonts/YoonGothicPro760.ttf') format('truetype');
    font-weight: 600;
}

html {
  text-align: center;
}

body {
  font-family: 'Yoon Gothic', sans-serif;
  font-weight: 400;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 1.4rem;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 54rem;
}

.head-logo {
  height: 100px;
  opacity: .85;
  -ms-filter: "alpha(Opacity=85)";
  filter: alpha(opacity=85);
  margin: 0 auto;
  display: block;
}

.head-title {
  letter-spacing: .08rem;
  font-weight: 400;
  opacity: .6;
  -ms-filter: "alpha(Opacity=60)";
  filter: alpha(opacity=60);
  font-size: 1rem;
}

.date {
  font-size: 8rem;
}

.form-desc {
  margin-top: 6rem;
  color: #d1d1d1;
}

.error {
  color: #faa;
  display: none;
}

#re-load-api {
  color: #fff;
  cursor: pointer;
}

#re-load-api:hover {
  color: #606c76
}

#re-apply {
  color: #fff;
  cursor: pointer;
}

#re-apply:hover {
  color: #606c76
}

.help {
  margin-top: -15px;
  margin-bottom: 15px;
  text-align: left;
  color: #faa;
  display: none;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.facebook-link {
  color: #d1d1d1;
  font-size: 1rem;
  opacity: .85;
  -ms-filter: "alpha(Opacity=85)";
  filter: alpha(opacity=85);
}

#feedback {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  display: none;
}

#form {
}

@keyframes pulse {
  0% {
    background: #fff;
  }
  50% {
    background: transparent;
  }
}
.common {
  position: absolute;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  animation: pulse 1.75s infinite linear;
}
.loading {
  position: absolute;
  left: 50%;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  animation: pulse 1.75s infinite linear;
  animation-delay: .3s;
}
.loading::before,
.loading::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  animation: pulse 1.75s infinite linear;
}
.loading::before {
  left: -15px;
}
.loading::after {
  left: 15px;
  animation-delay: .6s;
}
